#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button {
  margin-left: 12px;
}

.tasks {
  width: 100%;
  max-width: 800px;
}

.task {
  display: flex;
  border: 1px solid #eee;
  border-radius: 6px;
  justify-content: space-between;
  gap: 24px;
  padding: 12px;
  align-items: center;
  margin-bottom: 24px;
}

.task span {
  margin-left: 12px;
}

.add-task {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.add-task input {
  flex-grow: 1;
  min-width: 300px;
  height: 26px;
}

.task .completed {
  text-decoration: line-through;
  color: gray;
}

.button-filter {
  margin-bottom: 24px;
}

.unicorn {
  position: fixed;
  top: 50%;
  left: -200px; 
  transform: translateY(-50%);
  animation: moveUnicorn 3s forwards; 
  z-index: 9999; 
}

@keyframes moveUnicorn {
  0% {
    left: -200px; /* Comienza fuera de la pantalla */
  }
  50% {
    left: 50%; /* Se mueve al centro de la pantalla */
    transform: translate(-50%, -50%); /* Centrado perfecto */
  }
  100% {
    left: 100vw; /* Sale de la pantalla por el lado derecho */
  }
}